*,
*::before,
*::after {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  height: 100vh;
  background-color: #f05050;
  justify-content: center;
  align-items: center;
  color: white;
}

img {
  width: 100%;
  position: center;
  border-radius: 10px;
  margin: 0 auto 75px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ff0b0b;
  background-color: rgb(226, 18, 18);
  border-radius: 10px;
}

label {
  display: block;
  margin: 10px 0;
}

input {
  padding: 10px;
  border: 1px solid white;
  background: white;
  cursor: pointer;
  border-radius: 8px;
}

button {
  background: black;
  color: white;
  margin: 95px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  max-width: 50%;
}

a {
  color: rgb(17, 12, 12);
  text-decoration: none;
}

ul {
  margin-top: 50px;
}

ul li {
  list-style-type: none;
}