*, *::before, *::after {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;    
}


body{
    display: flex;
    place-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f05050; 
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white; 

}

element{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;

}




img{
    width:150px;
    position: center;
    border-radius: 10px;
    margin: 75px;

}


form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ff0b0b;
    background-color: rgb(226, 18, 18);
    border-radius: 10px;
   
}

label {
    display: block;
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border: 1px solid white;
    background: white;
    cursor: pointer;
    border-radius: 8px;
}



button{
    background: black;
    color: white;
    margin: 95px;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;

}

a{
    color: white;
    text-decoration: none;
    margin: 50px;
}




